
table {
    border-collapse: collapse;
    border-bottom: solid 2px #ffe5e5;
  }
.co{
      color:#941f44;
      background-color: rgb(223, 223, 223);
      font-weight:bold;
  }
a {
  color:rgb(255, 109, 109);
}

