table {
  border-collapse: collapse;
}
table{
  width:500px
  }
table {
  border-collapse: collapse;
  border: solid 5px white;/*表全体を線で囲う*/
}
table td{
  border-right:3px solid #800000;
  border-left:3px solid #800000;
  }

  .co{
    color: #a00000;
}