<head>
  <link rel="stylesheet" type="text/css"
  href="{{ 'update.css' | staticfile }}">
</head>
  基本情報登録
<h3>基本情報登録</h3>
<table>
<form action="{{url_for('basic_create')}}" method="POST">
  <tr>
    <td class="co">所属チーム</td>
    <td>　　<input type="text" name="team">チーム</td>
  </tr>
  <tr>
    <td class="co">誕生日</td>
    <td>　　<select name="birth_month">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
      </select>
      月
      <select name="birth_day">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
        <option value="13">13</option>
        <option value="14">14</option>
        <option value="15">15</option>
        <option value="16">16</option>
        <option value="17">17</option>
        <option value="18">18</option>
        <option value="19">19</option>
        <option value="20">20</option>
        <option value="21">21</option>
        <option value="22">22</option>
        <option value="23">23</option>
        <option value="24">24</option>
        <option value="25">25</option>
        <option value="26">26</option>
        <option value="27">27</option>
        <option value="28">28</option>
        <option value="29">29</option>
        <option value="30">30</option>
        <option value="31">31</option>
      </select>
      日</td>
  </tr>
  <tr>
    <td class="co">趣味</td>
    <td>　　<textarea type="text" name="hobby" cols="30" rows="3" maxlength="90"
      placeholder="プログラミング"></textarea></td>
  </tr>
   <!-- <input type="text" name="hobby"> -->
   <tr>
    <td class="co">ひとこと</td>
    <td>　　<textarea type="text" name="word" cols="30" rows="3" maxlength="90"
      placeholder="よろしくお願いいたします。"></textarea></td>
  </tr>
</table>
<h3></h3>
  <div>
    <button type="submit" style="background-color:#941f44; border-color:#941f44; color:aliceblue">登録</button>
  </div>
</form>
</form>
{% endblock %}