<head>
  <link rel="stylesheet" type="text/css"
  href="{{ 'update.css' | staticfile }}">
</head>
  基本情報登録
<h3>基本情報登録</h3>
<p>ページは戻らず、必ず登録ボタンを押してください</p>
<table>
<form action="{{url_for('user_basic_create')}}" method="POST">
  <tr>
    <td class="co">所属チーム</td>
    <td>　　<input type="text" name="team">チーム</td>
  </tr>
  <tr>
    <td class="co">誕生日</td>
    <td>　　<select name="birth_month">
      {% for month in range(1, 13) %}
        <option value="{{month}}">{{month}}</option>
      {% endfor %}
      </select>
      月
      <select name="birth_day">
      {% for day in range(1, 32) %}
        <option value="{{day}}">{{day}}</option>
      {% endfor %}
      </select>
      日</td>
  </tr>
  <tr>
    <td class="co">趣味</td>
    <td>　　<textarea type="text" name="hobby" cols="30" rows="3" maxlength="90"
      placeholder="プログラミング"></textarea></td>
  </tr>
   <!-- <input type="text" name="hobby"> -->
   <tr>
    <td class="co">ひとこと</td>
    <td>　　<textarea type="text" name="word" cols="30" rows="3" maxlength="90"
      placeholder="よろしくお願いいたします。"></textarea></td>
  </tr>
</table>
<h3></h3>
  <div>
    <button type="submit" style="background-color:#941f44; border-color:#941f44; color:aliceblue">登録</button>
  </div>
</form>
</form>