<head>
  <link rel="stylesheet" type="text/css"
  href="{{ 'show.css' | staticfile }}">
</head>
{% extends "layout.html" %}
{% block title %}
  プロフィール
{% endblock %}
{% block body %}
{% if file_path %}
<img src="{{file_path}}" alt="JFR" width="200" height="200"><br>
{% else %}
  <img src="/static/images/th.jpg" alt="JFR" width="200" height='200'><br>
{% endif %}
<h3>{{ account.name }}</h3>
<table>
    <tr>
      <td></td>
      <td class="ti">　　　{{ account.ruby}}</td>
    </tr>
    <tr>
      <td class="co">氏名</td>
      <td>　　{{ account.name }}</td>
    </tr>
    <tr>
      <td class="co">所属</td>
      <td>　　{{ account.dept }}<br>　　{{ account.group_name}}<br>　　{{basic_information.team}}</td>
    </tr>
    <tr>
      <td class="co">入社年度</td>
      <td>　　{{ account.year }}年度</td>
    </tr>
    <tr>
      <td class="co">誕生日</td>
      <td>　　{{ basic_information.birth_month }}月{{basic_information.birth_day}}日</td>
    </tr>
    <tr>
      <td class="co">趣味</td>
      <td>　　{{ basic_information.hobby }}</td>
    </tr>
    <tr>
      <td class="co">ひとこと</td>
      <td>　　{{ basic_information.word }}</td>
    </tr>
    <tr>
      <td>　</td>
      <td>　</td>
    </tr>
</table>
{% if account.account_id == session['account_id'] %}
<div>
  <a href="{{url_for('user_edit', account_id=account.account_id)}}">
  <button type="submit" style="background-color:#941f44; border-color:#941f44; color:aliceblue">編集</button>
  </a>
</div>
{% endif %}
{% endblock %}