<head>
  <link rel="stylesheet" type="text/css"
  href="{{ 'top.css' | staticfile }}">
</head>
{% extends "layout.html" %}
{% block title %}
  従業員一覧
{% endblock %}
{% block body %}
<h3>従業員一覧</h3>
<table>
  <thead>
    <tr>
      <td class="co">入社年度</td>
      <td class="co">名前</td>
      <td class="co">フリガナ</td>
      <td class="co">配属</td>
      <td colspan="3" class="co"></a></td>
    </tr>
  </thead>
  <tbody>
    {% for account in accounts %}
      <tr>
        <td>{{ account.year }}</td>
        <td>{{ account.name }}</td>
        <td>{{ account.ruby }}</td>
        <td>{{ account.dept }}部{{account.group_name}}グループ</td>
        <td><a href="{{url_for('user_show', account_id=account.account_id)}}">詳細</a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}