<head>
  <link rel="stylesheet" type="text/css"
  href="{{ 'top.css' | staticfile }}">
</head>
{% extends "layout.html" %}
{% block title %}
  従業員一覧
{% endblock %}
{% block body %}
<h3 class="aka">◆つぶやき広場</h3>
<h5>[{{session['name']}}]</h5>
<form action="{{url_for('tubuyaki_result')}}" method="post">
  <input type="text" name="name" value="{{ session['name'] }}" style="display: none;">
  <label><input type="text" size="50" name="message"></label>
  <button type="submit" style="background-color:#941f44; border-color:#941f44; color:aliceblue">投稿する</button>
</form>
<div class="listScroll">
  <table>
    <thead>
      <tr>
        <td class="co">名前</td>
        <td class="co">つぶやき</td>
        <td class="co"></td>
      </tr>
    </thead>
    <tbody>
      {% for message in messages %}
        <tr>
          <td class="hi">　{{ message.name }}</td>
          <td class="hi">　{{ message.message }}</td>
          <td>
            {% if message.name == session['name'] %}
            <div>
              <form action="{{url_for('tubuyaki_delete', tweet_id=message.tweet_id)}}" method="POST">
                <button type="submit" style="background-color:rgb(223, 223, 223); border-color:rgb(223, 223, 223); color:#941f44">削除</button>
              </form>
            </div>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<h3 class="aka">◆従業員一覧</h3>
<table>
  <thead>
    <tr>
      <td class="co">入社年度</td>
      <td class="co">名前</td>
      <td class="co">配属</td>
      <td class="co"></td>
      <td colspan="3" class="co"></a></td>
    </tr>
  </thead>
  <tbody>
    {% for account in accounts %}
      <tr>
        <td class="hi">　{{ account.year }}</td>
        <td>
          {% if session['account_id']==account.account_id %}
          <span class="ti2">{{ account.ruby }}</span></br>
          <span class="zi">{{ account.name }}</span>
          {% else %}
          <span class="ti">{{ account.ruby }}</span></br>
          {{ account.name }}
          {% endif %}
        </td>
        <td class="hi">
          {% if account.dept == '経営管理' %}
          <span style="color:rgb(0, 180, 0)">◆</span>
          {% elif account.dept == '人事' %}
          <span style="color:rgb(255, 141, 35)">◆</span>
          {% elif account.dept == 'システム開発運営' %}
          <span style="color:rgb(255, 14, 94)">◆</span>
          {% elif account.dept == 'システム運用管理' %}
          <span style="color:rgb(0, 68, 255)">◆</span>
          {% endif %}
          {{ account.dept }}部　
          {% if account.group_name != '---' %}
          {{account.group_name}}グループ
          {% endif %}</td>
        <td class="hi">
          <a href="{{url_for('user_show', account_id=account.account_id)}}">詳細</a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}