<head>
  <link rel="stylesheet" type="text/css"
  href="{{ 'update.css' | staticfile }}">
</head>
{% extends "layout.html" %}
{% block title %}
  内容編集
{% endblock %}
{% block body %}
<h3>編集</h3>
{% if file_path %}
<img src="{{file_path}}" alt="JFR" width="200" height="200"><br>
{% else %}
  <img src="/static/images/th.jpg" alt="JFR" width="200" height='200'><br>
{% endif %}
<form action="{{url_for('user_upload')}}" method="POST" enctype="multipart/form-data">
  <input type="file" name="example">
  <input type="submit" value="アップロード">
</form>
<p>画像拡張子:JPEG, JPG, PNG, GIFのみ</p><br>
<table>
  <form action="{{url_for('user_update', account_id=account.account_id)}}" method="POST">
    <tr>
      <td class="co">メールアドレス</td>
      <td>　　<input type="email" name="email" value="{{ account.email }}"></td>
    </tr>
    <tr>
      <td class="co">パスワード</td>
      <td>　　<input type="password" name="password" value="{{ account.password }}"></td>
    </tr>
    <tr>
      <td class="co">名前</td>
      <td>　　<input type="text" name="name" value="{{ account.name }}"></td>
    </tr>
    <tr>
      <td class="co">フリガナ</td>
      <td>　　<input type="text" name="ruby" value="{{ account.ruby }}"></td>
    </tr>
    <tr>
      <td class="co">所属</td>
      <td>　　<select name="dept">
        <option value="{{ account.dept}}" selected>{{account.dept}}</option>
        <option value="経営管理">経営管理</option>
        <option value="人事">人事</option>
        <option value="システム開発運営">システム開発運営</option>
        <option value="システム運用管理">システム運用管理</option> 
      </select>
      部<br>
      　　<select name="group_name">
        <option value="{{ account.group_name }}" selected>{{ account.group_name }}</option>
        <option value="---">---</option>
        <option value="店舗顧客システム">店舗顧客システム</option>
        <option value="共通システム">共通システム</option>
        <option value="共通インフラ/セキュリティ">共通インフラ/セキュリティ</option>
      </select>
      グループ<br>
      　　<input type="text" name="team" value="{{ basic_information.team }}">
      チーム
      </td>
    </tr>
    <tr>
      <td class="co">入社年度</td>
      <td>　　<input type="text" name="year" value="{{ account.year }}"></td>
    </tr>
    <tr>
      <td class="co">誕生日</td>
      <td>　　<select name="birth_month">
          <option value="{{ basic_information.birth_month}}" selected>{{basic_information.birth_month}}</option>
          {% for month in range(1, 13) %}
            <option value="{{month}}">{{month}}</option>
          {% endfor %}
        </select>
        月
        <select name="birth_day">
          <option value="{{ basic_information.birth_day}}" selected>{{basic_information.birth_day}}</option>
          {% for day in range(1, 32) %}
            <option value="{{day}}">{{day}}</option>
          {% endfor %}
        </select>
        日</td>
    </tr>
    <tr>
      <td class="co">趣味</td>
      <td>　　<textarea type="text" name="hobby" cols="30" rows="3" maxlength="90"
        value="{{ basic_information.hobby }}">{{basic_information.hobby}}</textarea></td>
    </tr>
    <tr>
      <td class="co">ひとこと</td>
      <td>　　<textarea type="text" name="word" cols="30" rows="3" maxlength="90"
        value="{{ basic_information.word }}">{{basic_information.word}}</textarea></td>
    </tr>
  </table>
  <h4></h4>
    <div>
      <button type="submit" style="background-color:#941f44; border-color:#941f44; color:aliceblue">修正</button>
    </div>
  </form>
  {% endblock %}