<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body style="background:#ffffffd7">
    <h3>
      <img src="OIP.jpg" alt="JFR" width="40" height="40">
      <a href="{{url_for('top')}}">TOP</a>
      {% if session.get('admin_logged_in'): %}
        <a href="{{url_for('logout')}}">ログアウト</a>
      {% else %}
        <a href="{{url_for('login')}}">ログイン</a>
      {% endif %}
    </h3>
    {% for category, message in get_flashed_messages(with_categories=true) %}
      {% if category == 'success' %}
        <div style="background-color: #76ffbb;">
          {{ message }}
        </div>
      {% elif category == 'error' %}
        <div style="background-color: #ff7a90;">
          {{ message }}
        </div>
      {% endif %}
    {% endfor %}
    {% block body %}{% endblock %}
  </body>
</html>