table {
  border-collapse: collapse;
}
table{
  width:400px
  }
table {
  border-collapse: collapse;
  border: solid 5px white;/*表全体を線で囲う*/
}
table td{
  border-right:3px solid #941f44;
  border-left:3px solid #941f44;
  }
td.ti{
  font-size:x-small;
  }

  .co{
    color: #941f44;
}