
table {
    border-collapse: collapse;
      width:1000px
  }
table td{
    border-bottom: solid 2px #d1d1d1;
  }
td.hi{
    height:4em;
  }
.ti{
  font-size:x-small;
  }
.ti2{
  font-size:x-small;
  color:#be003c;
  }
.zi{
  color:#be003c;
  font-weight:bold;
}
.co{
      color: #ffffff;
      background-color: #941f44;
      font-weight:bold;
  }
a{
  color:#cf0042;
}

.listScroll{
  /*テーブルの横幅が250px以上の場合スクロール*/
  width: 1000px;
/*テーブルの縦幅が100px以上の場合スクロール*/
  height: 300px;
  /*縦スクロール*/
overflow: scroll;
  /*横スクロール*/
  overflow-x: hidden;
}

.aka{
  color:#be003c;
  }
