
table {
    border-collapse: collapse;
      width:1000px
  }
table tr{
    border-bottom: solid 2px #d1d1d1;
  }
.co{
      color: #ffffff;
      background-color: #941f44;
      font-weight:bold;
  }
a{
  color:#cf0042;
}

