<head>
  <link rel="stylesheet" type="text/css"
 href="{{ 'top.css' | staticfile }}">
  <!-- <link rel='stylesheet' href='top.css'> -->
</head>
{% extends "layout.html" %}
{% block title %}
  従業員一覧
{% endblock %}
{% block body %}
<h3>従業員一覧</h3>
<table>
  <thead>
    <tr>
      <td class="co">入社年度</td>
      <td class="co">名前</td>
      <td class="co">配属</td>
      <td class="co"></td>
      <td colspan="3" class="co"></a></td>
    </tr>
  </thead>
  <tbody>
    {% for account in accounts %}
      <tr>
        <td>{{ account.year }}</td>
        <td>
          <span class="ti">{{ account.ruby }}</span></br>
          {{ account.name }}</td>
        <td>
          {% if account.dept == '経営管理' %}
          <span style="color:rgb(117, 255, 117)">◆</span>
          {% elif account.dept == '人事' %}
          <span style="color:rgb(255, 201, 85)">◆</span>
          {% elif account.dept == 'システム開発運営' %}
          <span style="color:rgb(255, 81, 139)">◆</span>
          {% elif account.dept == 'システム運用管理' %}
          <span style="color:#52b1ff">◆</span>
          {% endif %}
          {{ account.dept }}部　
          {% if account.group_name != '---' %}
          {{account.group_name}}グループ
          {% endif %}
        </td>
        <td>
          <a href="{{url_for('show', account_id=account.account_id)}}">詳細</a>
          <form action="{{url_for('delete', account_id=account.account_id)}}" method="POST">
            <button type="submit" style="background-color:rgb(223, 223, 223); border-color:rgb(223, 223, 223); color:#941f44">アカウント削除</button>
          </form>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}