table {
    border-collapse: collapse;
    /* border-bottom: solid 2px #ffe5e5; */
  }
table tr{
  border-bottom: solid 2px #ffe5e5;
}
table{
  width:1000px
  }
.ti{
  font-size:x-small;
  }
.co{
      color:#a41c44;
      background-color: rgb(223, 223, 223);
      font-weight:bold;
  }
a {
  color:rgb(255, 109, 109);
}
td.hi{
  height:4em;
}
.listScroll{
  /*テーブルの横幅が250px以上の場合スクロール*/
  width: 1000px;
/*テーブルの縦幅が100px以上の場合スクロール*/
  height: 300px;
  /*縦スクロール*/
overflow: scroll;
  /*横スクロール*/
  overflow-x: hidden;
}

.aka{
  color:#ffffff;
  }

th{
  position: sticky;
  top: 0;
  left: 0;
}