<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <h3>
      <a href="{{url_for('index')}}">TOP</a>
      <a href="{{url_for('item.index')}}">商品一覧</a>
      <a href="{{url_for('cart.index')}}">カート</a>
    </h3>
    {% for category, message in get_flashed_messages(with_categories=true) %}
      {% if category == 'success' %}
        <div style="background-color: #98fb98;">
          {{ message }}
        </div>
      {% elif category == 'error' %}
        <div style="background-color: #ffc0cb;">
          {{ message }}
        </div>
      {% endif %}
    {% endfor %}
    {% block body %}{% endblock %}
  </body>
</html>